In [118]:
import pymongo
import pandas as pd
from pandas import DataFrame, Series
from pymongo import MongoClient
import json
import plotly as py
py.tools.set_credentials_file(username = 'jcalcutt', api_key = '0PZ56yzpReSTHOb3Ul6k')
import cufflinks as cf
import datetime
from bson.objectid import ObjectId
#import plotly.graph_objs as go

In [119]:
df1 = pd.DataFrame.from_csv("C:\Election\poll.csv")

In [184]:
df1 = df1[36:]  # can't seem to save custom range plot, so just changed length of data here

In [185]:
df1['Date'] = pd.to_datetime(df1['Date'])

In [189]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 36 to 53
Data columns (total 7 columns):
Date    18 non-null datetime64[ns]
Con     18 non-null float64
Lab     18 non-null float64
LD      18 non-null float64
UKIP    18 non-null float64
GRN     18 non-null float64
SNP     18 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 1.1 KB

In [187]:
df2 = pd.read_pickle("C:\Users\Student\Documents\UKelections2017\positivetweetsuptodate")
df2[:5]

,Date,No. of positive tweets by date,Category,No. of positive tweets per party,Proportion of positive tweets per party
0,2017-05-11,34822,Conservative,3848,0.110505
1,2017-05-11,34822,Cymru,68,0.001953
2,2017-05-11,34822,Green,581,0.016685
3,2017-05-11,34822,Labour,26653,0.765407
4,2017-05-11,34822,LibDem,478,0.013727

In [123]:
df2['Date'] = pd.to_datetime(df2['Date'])

In [124]:
df2 = df2.rename( columns={"Proportion of positive tweets per party": "proportion"})

In [125]:
df2 = df2.rename( columns={"No. of positive tweets per party": "count"})

In [126]:
df2[:5]

        Date  No. of positive tweets by date      Category  count  proportion
0 2017-05-11                           34822  Conservative   3848    0.110505
1 2017-05-11                           34822         Cymru     68    0.001953
2 2017-05-11                           34822         Green    581    0.016685
3 2017-05-11                           34822        Labour  26653    0.765407
4 2017-05-11                           34822        LibDem    478    0.013727

In [127]:
df2['Date'] = pd.to_datetime(df2['Date'])

In [128]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104 entries, 0 to 103
Data columns (total 5 columns):
Date                              104 non-null datetime64[ns]
No. of positive tweets by date    104 non-null int64
Category                          104 non-null object
count                             104 non-null int64
proportion                        104 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 4.9+ KB

In [129]:
df2['weighted'] = df2['proportion'] / df2['count']

In [130]:
df2[:3]

,Date,No. of positive tweets by date,Category,count,proportion,weighted
0,2017-05-11,34822,Conservative,3848,0.110505,0.000029
1,2017-05-11,34822,Cymru,68,0.001953,0.000029
2,2017-05-11,34822,Green,581,0.016685,0.000029

In [131]:
df3 = df2.pivot(index='Date', columns='Category', values='proportion')

In [191]:
df3[:5]

Category,Conservative,Cymru,Green,Labour,LibDem,SNP,UKIP,other
Date,,,,,,,,
2017-05-11,0.110505,0.001953,0.016685,0.765407,0.013727,0.065533,0.022256,0.003934
2017-05-12,0.138253,0.001255,0.012326,0.705956,0.015101,0.064122,0.059928,0.003059
2017-05-13,0.207044,0.001593,0.014136,0.623984,0.014964,0.081651,0.052677,0.003950
2017-05-14,0.194145,0.000999,0.007722,0.631810,0.025639,0.102345,0.031906,0.005435
2017-05-15,0.282033,0.002783,0.007418,0.597680,0.018212,0.070180,0.019125,0.002570

In [133]:
df3.ta_plot(study='sma', periods=[9])

In [134]:
import plotly.plotly as py

In [135]:
fig1 = df1.iplot(x=['Date'],y=['Con', 'Lab', 'LD'], dash='dash', width=2.5,yTitle='Poll score', xTitle='Date', asFigure=True)
fig2 = df3.iplot(y=['Conservative', 'Labour', 'LibDem'],  secondary_y=['Conservative', 'Labour','LibDem'],yTitle='% of positive tweets', asFigure=True)
fig2['data'].extend(fig1['data'])
py.iplot(fig2)

In [136]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54 entries, 0 to 53
Data columns (total 7 columns):
Date    54 non-null datetime64[ns]
Con     54 non-null float64
Lab     54 non-null float64
LD      54 non-null float64
UKIP    54 non-null float64
GRN     54 non-null float64
SNP     54 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 3.4 KB

In [137]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13 entries, 2017-05-11 to 2017-05-23
Data columns (total 8 columns):
Conservative    13 non-null float64
Cymru           13 non-null float64
Green           13 non-null float64
Labour          13 non-null float64
LibDem          13 non-null float64
SNP             13 non-null float64
UKIP            13 non-null float64
other           13 non-null float64
dtypes: float64(8)
memory usage: 936.0 bytes

In [138]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104 entries, 0 to 103
Data columns (total 6 columns):
Date                              104 non-null datetime64[ns]
No. of positive tweets by date    104 non-null int64
Category                          104 non-null object
count                             104 non-null int64
proportion                        104 non-null float64
weighted                          104 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 5.7+ KB

### create party colour table

In [139]:
partycol = pd.DataFrame.from_csv('c:\Election\partycolours.txt', sep='#')

In [140]:
partycol

                          rgb
party
Conservative  rgb(65,105,225)
Labour           rgb(139,0,0)
LibDem         rgb(255,165,0)
Green          rgb(34,139,34)
UKIP           rgb(148,0,211)
SNP            rgb(255,255,0)

In [141]:
partycol2 = partycol[:3]

In [142]:
list(partycol2['rgb'].values)

['rgb(65,105,225)', 'rgb(139,0,0)', 'rgb(255,165,0)']

In [143]:
fig1 = df1.iplot(x=['Date'],y=['Con', 'Lab', 'LD'], colors = list(partycol2['rgb'].values), dash='dash', width=2.5,yTitle='Poll score', xTitle='Date', asFigure=True)
fig2 = df3.iplot(y=['Conservative', 'Labour', 'LibDem'], colors = list(partycol2['rgb'].values),  secondary_y=['Conservative', 'Labour','LibDem'],yTitle='% of positive tweets', asFigure=True)
fig2['data'].extend(fig1['data'])
py.iplot(fig2)

In [144]:
news = pd.read_csv('c:\\Election\\twitter-scrape-master\\newsheadlines.txt', sep='|')
news[:1]

,timestamp,binname,website,head1,head2,head3,head4,head5,head6,head7,...,head18,head19,head20,head21,head22,head23,head24,head25,head26,head27
0,2017-05-18 09:21:45.530000,headlines,https://www.bbc.co.uk/news/election/2017,Tory manifesto pledge on social care,Tory care plan: Why many will pay more,Election 2017: latest updates,Former Welsh First Minister Morgan dies,Tim Farron: Public must decide on Brexit,McCluskey 'now optimistic Labour can win',At-a-glance summary: Lib Dem manifesto,...,Kuenssberg: May's bid to be tough not cruel,Why education could determine how you vote,A tale of two election campaigns,Reality Check: Could legalising cannabis raise...,Lib Dem manifesto: 'We can have change',IndyRef2 battle and the general election,"Retro games, period poverty and bridge tolls",What does Alliance for Green Socialism stand for?,Johnson criticised over whisky comment,NaN

In [145]:
news['timestamp'] = pd.to_datetime(news['timestamp'])

In [146]:
news2 = news.set_index("timestamp", drop=False)
news3 = news.reindex(df1.index, method='nearest')

In [147]:
news3['e'] = pd.Series(1, index=df1.index)

In [148]:
news4 = DataFrame()

In [173]:
news4["headlines"] = '1) '+news3["head1"].map(str) + '<BR> '+  '2) '+news3["head2"] + '<BR>' + '3) '+news3['head3']

In [150]:
news4["date"] = news3["timestamp"]

In [171]:
news4['BBC headlines'] = pd.Series(50, index=news4.index)

In [174]:
news4[:3]

,headlines,date,e,BBC headlines
0,1) Tory manifesto pledge on social care<BR> 2)...,2017-05-18 09:21:45.530,50,50
1,1) Tory manifesto pledge on social care<BR> 2)...,2017-05-18 09:21:50.145,50,50
2,1) Tory manifesto pledge on social care<BR> 2)...,2017-05-18 09:21:55.163,50,50

# This is the plot we want ...

In [190]:
fig1 = df1.iplot(x=['Date'],y=['Con', 'Lab', 'LD'], colors = list(partycol2['rgb'].values), dash='dash', width=2.5,yTitle='Poll score', xTitle='Date', asFigure=True)
fig2 = df3.iplot(y=['Conservative', 'Labour', 'LibDem'], colors = list(partycol2['rgb'].values),  secondary_y=['Conservative', 'Labour','LibDem'],yTitle='% of positive tweets', asFigure=True)
fig3 = news4.iplot(x = ['date'], y = ['BBC headlines'],mode = 'markers',  text = 'headlines', asFigure = True )
fig2['data'].extend(fig1['data'])
fig2['data'].extend(fig3['data'])
py.iplot(fig2,  title ='General Election 2017 Twitter vs. Polls plot',  filename='Polls_vs_twitter')