In [299]:
#MongoDB
import pymongo
from pymongo import MongoClient
import time
from pymongo import cursor

#Pandas
import pandas as pd
from pandas import DataFrame, Series

import plotly
import plotly.tools as tls
import plotly.graph_objs as go
import plotly.plotly as py

import pyodbc
import json

plotly.tools.set_credentials_file(username = 'izzy888', api_key = 'Kx3NbXo7kqbVmU9Yg98t')
import cufflinks
import datetime

In [263]:
a = pd.read_pickle("C:\\Data\\final_tweets3pickledbyhour")

In [281]:
b['sentiment'] = b['polarityvader']

In [283]:
del b['polarityvader']

In [264]:
b = pd.read_pickle("C:\\Data\\seventeenth_maybyhour_alldata")

In [285]:
c= pd.concat([a, b]) # merge all the data

In [266]:
#select positive tweets

In [340]:
cpositive = c[c['sentiment'] >= 0.05]

In [341]:
#exclude neutrals

In [342]:
cp = cpositive[cpositive['Category'] != 'Neutral']

In [343]:
cp2 = cpositive[(cpositive['Filter'] == 'Jeremy Corbyn') |(cpositive['Filter'] == 'Theresa May')|(cpositive['Filter'] == 'Corbyn')\
               |(cpositive['Filter'] == 'Tim Farron')|(cpositive['Filter'] == 'Paul Nuttall')|(cpositive['Filter'] == 'Paul Nuttall')\
                | (cpositive['Filter'] == 'Caroline Lucas')|(cpositive['Filter'] == 'Jonathan Bartley')|(cpositive['Filter'] == 'Nicola Sturgeon')| (cpositive['Filter'] == 'Leanne Wood')]

In [344]:
import numpy as np

In [360]:
cp2.loc[cp2['Filter'] == 'Corbyn', 'Filter'] = 'Jeremy Corbyn' # replace corbyn with jermemy corbyn

In [346]:
cp2.count()

Category     609038
Date         609038
Filter       609038
location     435505
tweet        609038
sentiment    609038
dtype: int64

In [347]:
Count_Row = cp2.shape[0]

In [348]:
Count_Row

609038

In [361]:
cp2[:10]

,Category,Date,Filter,location,tweet,sentiment,Day
1,Labour,2017-05-11 12:00:00,Jeremy Corbyn,Plymouth U.K.,Are you happy to have Branson's Virgin Care ra...,0.7845,2017-05-11
5,Labour,2017-05-11 12:00:00,Jeremy Corbyn,"Aberdeen, Scotland",Corbyn definitely getting a bump in the polls ...,0.4019,2017-05-11
8,Conservative,2017-05-11 12:00:00,Theresa May,"Inverness, Scotland",RT @EliasMichalas: Theresa May refuses to rule...,0.1027,2017-05-11
24,Conservative,2017-05-11 12:00:00,Theresa May,SW UK,"Theresa May: *eats baby*\nMedia: ""safe pair of...",0.4404,2017-05-11
37,Conservative,2017-05-11 12:00:00,Theresa May,Ipswich,RT @Independent: It's downright shameful that ...,0.2023,2017-05-11
38,Labour,2017-05-11 12:00:00,Jeremy Corbyn,"Lochmaben, UK",RT @JamieRoss7: It's actually been a pretty go...,0.4215,2017-05-11
58,Conservative,2017-05-11 12:00:00,Theresa May,Scotland,RT @rssandr5: @BarristerSecret @TEACHERNIS If ...,0.6433,2017-05-11
59,Labour,2017-05-11 12:00:00,Jeremy Corbyn,None,RT @CorbynSuperFan: Politics has sunk to a lev...,0.2960,2017-05-11
92,Labour,2017-05-11 12:00:00,Jeremy Corbyn,"Birmingham, England",RT @jeremyforlab: Jeremy Corbyn: Let's feed ch...,0.1027,2017-05-11
96,Conservative,2017-05-11 12:00:00,Theresa May,"Birmingham, England","RT @hoddles10: @patrickharvie To be fair, the ...",0.3182,2017-05-11

In [362]:
cpositive['sentiment'].max()

0.99419999999999997

In [364]:
cp2 = cpositive[(cpositive['Filter'] == 'Jeremy Corbyn') |(cpositive['Filter'] == 'Theresa May')|\
               (cpositive['Filter'] == 'Tim Farron')|(cpositive['Filter'] == 'Paul Nuttall')\
                | (cpositive['Filter'] == 'Caroline Lucas')|(cpositive['Filter'] == 'Jonathan Bartley')|(cpositive['Filter'] == 'Nicola Sturgeon')| (cpositive['Filter'] == 'Leanne Wood')]

In [366]:
cp2[:5]

,Category,Date,Filter,location,tweet,sentiment
1,Labour,2017-05-11 12:00:00,Jeremy Corbyn,Plymouth U.K.,Are you happy to have Branson's Virgin Care ra...,0.7845
8,Conservative,2017-05-11 12:00:00,Theresa May,"Inverness, Scotland",RT @EliasMichalas: Theresa May refuses to rule...,0.1027
24,Conservative,2017-05-11 12:00:00,Theresa May,SW UK,"Theresa May: *eats baby*\nMedia: ""safe pair of...",0.4404
37,Conservative,2017-05-11 12:00:00,Theresa May,Ipswich,RT @Independent: It's downright shameful that ...,0.2023
58,Conservative,2017-05-11 12:00:00,Theresa May,Scotland,RT @rssandr5: @BarristerSecret @TEACHERNIS If ...,0.6433

In [367]:
groupcp2 = cp2.groupby(['Date', 'Filter']).mean().reset_index()

In [368]:
groupcp2[:5]

                 Date           Filter  sentiment
0 2017-05-11 12:00:00    Jeremy Corbyn   0.440545
1 2017-05-11 12:00:00  Nicola Sturgeon   0.440400
2 2017-05-11 12:00:00      Theresa May   0.507665
3 2017-05-11 12:00:00       Tim Farron   0.342321
4 2017-05-11 13:00:00   Caroline Lucas   0.361200

In [369]:
cp2['Day'] = cp2['Date'].dt.date

c:\users\student\anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [381]:
groupcp3 = cp2.groupby(['Day', 'Filter']).count()['tweet'].reset_index()

In [382]:
groupcp3[:7] # no. tweets per day by leader

          Day           Filter  tweet
0  2017-05-11   Caroline Lucas     14
1  2017-05-11    Jeremy Corbyn   2815
2  2017-05-11      Leanne Wood      3
3  2017-05-11  Nicola Sturgeon     63
4  2017-05-11     Paul Nuttall     36
5  2017-05-11      Theresa May   2140
6  2017-05-11       Tim Farron    123

In [383]:
groupcp3p = groupcp3.pivot(index = 'Day', columns = 'Filter', values = 'tweet').reset_index()

In [384]:
groupcp3p

Filter,Day,Caroline Lucas,Jeremy Corbyn,Jonathan Bartley,Leanne Wood,Nicola Sturgeon,Paul Nuttall,Theresa May,Tim Farron
0,2017-05-11,14.0,2815.0,NaN,3.0,63.0,36.0,2140.0,123.0
1,2017-05-12,11.0,9676.0,5.0,8.0,158.0,78.0,8772.0,775.0
2,2017-05-13,18.0,7596.0,4.0,18.0,263.0,1039.0,15129.0,477.0
3,2017-05-14,15.0,8138.0,2.0,3.0,1169.0,201.0,16294.0,610.0
4,2017-05-15,7.0,9481.0,2.0,110.0,493.0,57.0,25227.0,751.0
5,2017-05-16,19.0,16251.0,NaN,58.0,180.0,55.0,19440.0,669.0
6,2017-05-17,12.0,6555.0,NaN,108.0,133.0,52.0,11411.0,2484.0
7,2017-05-18,1866.0,4995.0,220.0,384.0,3411.0,2967.0,23944.0,2326.0
8,2017-05-19,269.0,6975.0,66.0,59.0,1764.0,689.0,18564.0,471.0
9,2017-05-20,47.0,41216.0,5.0,10.0,234.0,574.0,15664.0,263.0
10,2017-05-21,27.0,25364.0,5.0,8.0,1258.0,451.0,15792.0,317.0
11,2017-05-22,65.0,6705.0,21.0,NaN,401.0,17.0,21410.0,175.0
12,2017-05-23,2.0,1191.0,NaN,2.0,33.0,70.0,3750.0,19.0

In [385]:
groupcp3p.iplot(kind='line', xTitle = 'Date', yTitle = 'No. Tweets with Sentiment > 0.05', x = ['Day'], y= ['Jeremy Corbyn','Theresa May','Tim Farron','Paul Nuttall','Caroline Lucas','Jonathan Bartley', 'Nicola Sturgeon','Leanne Wood'] )

In [ ]:
# to plot the number of tweets by hour

In [386]:
groupcp4 = cp2.groupby(['Date', 'Filter']).count()['tweet'].reset_index()

In [387]:
groupcp4p = groupcp4.pivot(index = 'Date', columns = 'Filter', values = 'tweet').reset_index()

In [389]:
groupcp4p[:10]

Filter,Date,Caroline Lucas,Jeremy Corbyn,Jonathan Bartley,Leanne Wood,Nicola Sturgeon,Paul Nuttall,Theresa May,Tim Farron
0,2017-05-11 12:00:00,NaN,122.0,NaN,NaN,1.0,NaN,107.0,14.0
1,2017-05-11 13:00:00,1.0,543.0,NaN,NaN,19.0,NaN,509.0,33.0
2,2017-05-11 14:00:00,5.0,422.0,NaN,NaN,14.0,8.0,432.0,34.0
3,2017-05-11 15:00:00,1.0,909.0,NaN,2.0,23.0,12.0,452.0,23.0
4,2017-05-11 16:00:00,7.0,819.0,NaN,1.0,6.0,16.0,640.0,19.0
5,2017-05-12 07:00:00,1.0,163.0,NaN,NaN,2.0,3.0,218.0,5.0
6,2017-05-12 08:00:00,2.0,457.0,NaN,NaN,13.0,5.0,403.0,8.0
7,2017-05-12 09:00:00,2.0,381.0,NaN,NaN,6.0,3.0,349.0,15.0
8,2017-05-12 10:00:00,1.0,512.0,NaN,NaN,6.0,4.0,403.0,12.0
9,2017-05-12 11:00:00,NaN,1259.0,NaN,NaN,5.0,7.0,469.0,8.0

In [390]:
groupcp4p.iplot(kind='line', xTitle = 'Date', yTitle = 'No. Tweets with Sentiment > 0.05', x = ['Date'], y= ['Jeremy Corbyn','Theresa May','Tim Farron','Paul Nuttall','Caroline Lucas','Jonathan Bartley', 'Nicola Sturgeon','Leanne Wood'] )